@charset "utf-8";
/* CSS Document */

input{
	margin-top: 5px;
}

input[type=text]{
	border-radius: 5px;
	outline:none;
	width:300px;
	height:30px;
	margin: 3px auto;
	font-size:15px;
	padding-left:2px;
	padding-right:2px;
	border:#CCC 3px solid;
	transition:0.5s;
}

input[type=text]:focus{
	border:#186CEC  3px solid;
	height: 35px;
}

input[type=number]{
	border-radius: 5px;
	outline:none;
	width:300px;
	height:30px;
	margin: 3px auto;
	font-size:15px;
	padding-left:2px;
	padding-right:2px;
	border:#CCC 3px solid;
	transition:0.5s;
}
input[type=number]:focus{
	border:#186CEC  3px solid;
	height: 35px
}
input[type=email]{
	border-radius: 5px;
	outline:none;
	width:300px;
	height:30px;
	margin: 3px auto;
	font-size:15px;
	padding-left:2px;
	padding-right:2px;
	border:#CCC 3px solid;
	transition:0.5s;
}
input[type=email]:focus{
	border:#186CEC  3px solid;
	height: 35px
}
input[type=email]:required:invalid{
	color: #B80003;
}

input[type=submit]{
	
	margin-right: 50px;
	outline:none;
	width:200px;
	height:50px;
	background:#FFF;
	font-size:15px;
	border-radius: 0px 15px 15px;
	border:#CCC 3px solid;
	transition:0.3s;
}
input[type=submit]:hover{
	border:#186CEC 3px solid;
	background-color:#186CEC ;
	color:#FFF;
}
textarea{
	margin-top: 5px;
	border-radius: 5px;
	outline:none;
	width:300px;
	height:250px;
	margin: 3px auto;
	font-size:15px;
	padding-left:2px;
	padding-right:2px;
	border:#CCC 3px solid;
	resize:none;
	transition:0.5s;
}
textarea:focus{
	border:#186CEC 3px solid;
}

.texto_dentro{
	outline:none;
	width:300px;
	margin: 3px auto;
	font-family:"Arial";
	font-size:15px;
	position: relative;
	transition: 0.5s;
}
.texto_dentro:focus {
	height: 35px;
}


#bolinhas{
	width:240px;
}
